[submodule "Src/3rdParty/stb"]
	path = Src/3rdParty/stb
	url = https://github.com/nothings/stb
[submodule "Src/3rdParty/tinyobjloader"]
	path = Src/3rdParty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "Src/3rdParty/meshoptimizer"]
	path = Src/3rdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "Src/GUI/XML/rapidxml"]
	path = Src/GUI/XML/rapidxml
	url = https://github.com/dwd/rapidxml
[submodule "Src/3rdParty/VulkanMemoryAllocator"]
	path = Src/3rdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Src/3rdParty/CDT"]
	path = Src/3rdParty/CDT
	url = https://github.com/artem-ogre/CDT.git
