[submodule "Src/3rdParty/SubProjects/SDL"]
	path = Src/3rdParty/SubProjects/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Src/3rdParty/stb"]
	path = Src/3rdParty/stb
	url = https://github.com/nothings/stb
[submodule "Src/3rdParty/fast_obj"]
	path = Src/3rdParty/fast_obj
	url = https://github.com/thisistherk/fast_obj
[submodule "Src/3rdParty/meshoptimizer"]
	path = Src/3rdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "Src/GUI/XML/rapidxml"]
	path = Src/GUI/XML/rapidxml
	url = https://github.com/dwd/rapidxml
[submodule "Src/3rdParty/VulkanMemoryAllocator"]
	path = Src/3rdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Src/3rdParty/CDT"]
	path = Src/3rdParty/CDT
	url = https://github.com/artem-ogre/CDT.git
